* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.2rem;
}





footer {
    background-color: #23272a;
}


header {
    background-image: url('img_discord/jumbo.png');
    background-position-y: center;
    background-size: cover;
}

.flex {
    display: flex;
}

.menu {
    justify-content: space-around;
    padding: 20px 0px;
}

.options a {
    text-decoration: none;
    color: white;
    padding: 0px 20px;
}

button {
    background-color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    display: inline-block;
}



.flex.header_content {
    color: white;
    max-width: 800px;
    margin: 0px auto;
    padding: 90px 0px 30px;
    flex-direction: column;
    text-align: center;
}

.flex>h1 {
    padding: 40px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
}

p {
    line-height: 30px;
}

.header-buttons {
    text-align: center;
    padding: 0px 0px 30px;
}

#browser {
    background-color: #23272a;
    color: white;
}

.header-buttons .access-button {
    font-size: 1.3rem;

}

.section_content {
    align-items: center;
    padding: 0px 300px;
    justify-content: center;
    padding: 100px 50px;
}


.text {
    margin: 0 auto;
    max-width: 400px;
}

.text h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    line-height: 60px;
}

#luogo {
    padding-top: 120px;

}



.text p {
    padding-top: 40px;
    padding-bottom: 40px;
}



.even {
    background-color: #f6f6f6;
}



.last_section {
    flex-direction: column;
}

.text.affidabile {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}

.text.avventura {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
    max-width: 800px;
    text-align: center;
    padding-bottom: 50px;
}

.scarica-button button {
    background-color: #7187d7;
    color: white;
}

footer {
    flex-direction: column;
    justify-content: space-around;
}

.flex.row-links {
    flex-direction: row;
    justify-content: space-around;
    padding: 100px 100px 50px;

}

.flex.menu-sx {
    flex-direction: column;

}

.menu-sx h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.8rem;
    max-width: 300px;
    color: #7187d7;
    line-height: 30px;
    padding-bottom: 40px;

}

.menu-sx img {
    height: 18px;
    width: 30px;
    display: inline-block;
}

.flex.foot-col {
    flex-direction: column;
    line-height: 30px;
}

h4 {
    display: inline-block;
    color: white;
}

.blue {
    color: #7187d7;
}

.foot-col a {
    text-decoration: none;
    color: white;
}



hr {
    color: gray;
    width: 80%;
    margin: 0 auto;

}

.block2 {
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 0px;
}

#button-footer {
    background-color: #8ea1e1;
}