/* generics */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: sans-serif;
  background-color: #fff;
}

/* utilities */
 /* container centered */
.container{   
  margin: 0 auto;
  max-width: 1200px;
}

.flex{
  display: flex;
  
}

.space-between{
 
  justify-content: space-between;

}

.align-items-center{
  align-items: center;
}

.column{
  flex-direction: column;
}
.grow {
  flex-grow: 1;
}
.wrap {
  flex-wrap: wrap;
}


/* content */

header{
  background-color: #3161e0;
  color: #fff;
}

footer{
  background-color: #23272a;
  color: #fff;
  padding-top: 75px;
}

section.even{
  background-color: #f6f6f6;
}

.top-header{
  padding: 10px;
}

.jumbo-tron{
  text-align: center;
}

.jumbo-tron-container{
  max-width: 800px;
  margin: 0px auto;
  padding: 75px 0px;
}

#call-to-action,
#voice-connected,
#fandom,
#chat-groups{
  padding: 75px 0px;
}

#call-to-action .space-between>*,
#fandom .space-between>*,
#voice-connected .space-between>*,
#chat-groups .space-between > * {
  flex-basis: 50%;
  padding: 0px 5px;
  flex-shrink: 0;
}




#social-link{
flex-basis: 350px;
flex-shrink: 0;
}

footer .column {
  flex-basis: calc(25% - 20px);
  padding: 0 10px;
}

footer hr {
  margin: 25px 0px
}


/* DEBUG */

.debug header {
 /* height: 100px;*/
}

/*
.debug main section {
  height: 500px;
}
*/
/*
.debug footer{
  height: 600px;
}
*/
.debug .top-header{
  background-color: green;
}

.debug nav{
  background-color: gold;
}

.debug .fake-img{
  display: inline-block;
  width: 300px;
  height: 300px;
  background-color: red;
};

.debug #social-links{
  background-color: aquamarine;
}

/* /DEBUG */